@import '../basestyles.css';

.container{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: var(--mainColor);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 8px #848484;
  position: fixed;
  bottom: 30px;
  right: 15px;
}

.container a{
  text-decoration: none;
  color: white;
}

.container:hover{
  transform: scale(1.1);
}

.top{
  position: fixed;
  bottom: 30px;
  right: 15px;
}

