@import '../basestyles.css';

.center{
  display: flex;
  justify-content: center;
}
.container{
  padding: 4rem;
  display: block;
  max-width: 650px;

}

.title{
  color: var(--mainColor);
  font-size: 2rem;
}