@import '../basestyles.css';

.container{
  text-align: center;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding: 1rem 6rem;
}


section{
  text-align: center;
  margin: 0;
  padding: 7rem 0;
  background-color: #e0ede2;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  /* width: 100vw; */
}

.title{
  color: var(--mainColor);
  font-size: 2.5rem;
}


.image{
  height:400px;
  padding: 0 1rem;
  max-width: 90vw;
}

.container h1{
  font-size: 1rem;
}

.card{
  margin: 3rem;

}

.container ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.container ul li{
  margin: 1rem 2rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p{
  padding: 2rem 10rem;
}

.container a{
  cursor: pointer;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 768px) {
  .image{
    height: 250px;
    margin: 1rem;
  }

  .container p{
    padding: 2rem;
  }

  .container ul{
    /* flex-direction: column; */
    
  }

  .container ul li{
    font-size: 1rem;
    padding: 10px;
  }
}
