@import '../basestyles.css';

.container{
  text-align: center;
  display:flex;
  justify-content: space-around;
  flex-flow: row wrap;
}


section{
  text-align: center;
  margin: 0;
  padding: 7rem 0;
  background-color: #e0ede2;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  width: 100vw;
}


.image{
  height:400px;
  filter: grayscale(100%);
}

.image:hover{
  filter:grayscale(0)
}

.container h1{
  font-size: 1rem;
}

.card{
  margin: 3rem 0;

}
